#title-bar {
  position: fixed;
  left: env(titlebar-area-x, 0);
  top: env(titlebar-area-y, 0);
  height: env(titlebar-area-height, 50px);
  width: env(titlebar-area-width, 100%);
  -webkit-app-region: drag;
}

@font-face {
  font-family: "TwitterChirp";
  src: url("https://abs.twimg.com/fonts/v2/chirp-regular-web.woff2")
    format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "TwitterChirp";
  src: url("https://abs.twimg.com/fonts/v2/chirp-bold-web.woff2")
    format("woff2");
  font-weight: 700;
}

@media (max-width: 600px) {
  .cardsContainer {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* One image per line for small screens */
  }
}

@media (min-width: 601px) and (max-width: 960px) {
  .cardsContainer {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Two images per line for medium screens */
  }
}

@media (min-width: 961px) {
  .cardsContainer {
    grid-template-columns: repeat(
      5,
      1fr
    ); /* Five images per line for larger screens */
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* App */
.cta-buttons .MuiButton-containedPrimary {
  background-color: #91e9ff;
  color: #fff;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  text-transform: none;
}

.cta-buttons .MuiButton-outlinedPrimary {
  color: #142e35;
  border-color: #8edbf0;
  padding: 8px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  text-transform: none;
}

/* Registration Styles  */

body {
  margin: 0;
  padding: 0;
  min-height: 100dvh; /* Use min-height instead of height */
  display: flex;
  flex-direction: column;
}

.page-container {
  height: 100dvh;
  overflow: auto;
}

.form-container {
  flex: 1; /* Allow it to grow inside its parent */
  display: flex;
  flex-direction: column;
  margin: 6%;
  min-height: 0; /* Important to prevent it from overflowing */
}

.App > img {
  margin-top: 3%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 100px;
  margin-bottom: 2%;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.footer-menu {
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.userForm-container {
  width: 50%;
  margin: auto;
  max-width: 400px;
}

label {
  text-align: left;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

span {
  font-weight: lighter;
  color: grey;
}

/* FirstStep.css */

.custom-input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Additional styles based on your preference */
.label {
  font-weight: bold;
  margin-bottom: 8px;
}

.Mui-active {
  font-weight: bold;
  color: "green";
}
