/* App */
.cta-buttons .MuiButton-containedPrimary {
  background-color: #91e9ff;
  color: #fff;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  text-transform: none;
}

.cta-buttons .MuiButton-outlinedPrimary {
  color: #142e35;
  border-color: #8edbf0;
  padding: 8px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  text-transform: none;
}

/* Registration Styles  */

body {
  height: 80vh;
}

.form-container {
  font-family: Inter;
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: 6%;
}

.App > img {
  margin-top: 3%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 100px;
  margin-bottom: 2%;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.userForm-container {
  width: 50%;
  margin: auto;
  max-width: 400px;
}

label {
  text-align: left;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

span {
  font-weight: lighter;
  color: grey;
}

/* FirstStep.css */

.custom-input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Additional styles based on your preference */
.label {
  font-weight: bold;
  margin-bottom: 8px;
}

.Mui-active {
  font-weight: bold;
  color: "green";
}
