/luul/client/.env
/luul/client/node_modules

/luul/server/activity-service/.env
/luul/server/auth-service/.env
/luul/server/image-service/.env
/luul/server/link-up-management-service/.env
/luul/server/link-up-request-service/.env
/luul/server/messaging-service/.env
/luul/server/notification-service/.env
/luul/server/user-management-service/.env
/luul/server/location-service/.env

/luul/server/activity-service/node_modules
/luul/server/auth-service/node_modules
/luul/server/image-service/node_modules
/luul/server/link-up-management-service/node_modules
/luul/server/link-up-request-service/node_modules
/luul/server/messaging-service/node_modules
/luul/server/notification-service/node_modules
/luul/server/user-management-service/node_modules
/luul/server/location-service/node_modules

/luul/server/activity-service/Dockerfile
/luul/server/auth-service/Dockerfile
/luul/server/image-service/Dockerfile
/luul/server/link-up-management-service/Dockerfile
/luul/server/link-up-request-service/Dockerfile
/luul/server/messaging-service/Dockerfile
/luul/server/notification-service/Dockerfile
/luul/server/user-management-service/Dockerfile
/luul/server/location-service/Dockerfile

node_modules
Dockerfile
.git
.gitignore
.dockerignore
