# Exclude .env files
**/.env

# Exclude node_modules directories
**/node_modules

# Exclude Git-related files
.git
.gitignore

# Exclude Docker-related files
.dockerignore
Dockerfile
docker-compose.yml
