# Node Modules
node_modules/
client/node_modules/
server/**/node_modules/

# Ignore source code folders
client/src/
server/**/src/
server/**/controllers/
server/**/routes/

# Environment Files
.env
client/.env
server/**/.env

# Coverage Reports
coverage/

# Logs
*.log

# Package Lock
package-lock.json

# Output build files from client
!client/build

# Ignore everything by default
.*

# Allow specific dotfiles
!.gitignore
!.editorconfig
!.eslintignore
!.eslintrc
!.dockerignore
!.npmignore
!.npmrc
!.prettierignore
