# Ignore all node_modules directories
node_modules/
client/node_modules/
server/**/node_modules/

# Ignore environment files
.env
client/.env
server/**/.env

# Ignore coverage reports
coverage/

# Ignore logs
*.log


# Allow client/build directory
!client/build

# Ignore all dotfiles by default
.*

# Allow specific dotfiles
!.gitignore
!.editorconfig
!.eslintignore
!.eslintrc
!.dockerignore
!.npmignore
!.npmrc
!.prettierignore