# Node Modules
node_modules/
client/node_modules/
server/**/node_modules/

# Environment Files
.env
client/.env
server/**/.env

# Coverage Reports
coverage/

# Logs
*.log

# Package Lock
package-lock.json

# Ignore everything by default
.*

# Allow specific dotfiles
!.dockerignore
!.editorconfig
!.eslintignore
!.eslintrc
!.gitignore
!.gitlab-ci.yml
!.npmignore
!.npmrc
!.prettierignore
!.storybook
