.sendbird-channel-list {
  border-right-width: 1px !important;
  /* border-right: 1px solid gray !important; */
  box-sizing: border-box !important;
}

.sendbird-channel-preview {
  border-bottom: none !important; /* This removes the bottom border */
}

/* @media (max-width: 600px) {
  .sendbird-conversation {
    height: calc(100dvh - 60px) !important;
  }
} */

.sendbird-conversation {
  box-sizing: border-box !important;
  border: none !important;
  box-shadow: none !important;
}
