/* .sendbird-channel-list__body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.sendbird-channel-list__header {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
} */

/* @media (max-width: 600px) { */
.sendbird-channel-list {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Adjust as needed */
}

.sendbird-channel-preview {
  width: 100%;
  border-bottom: none !important; /* This removes the bottom border */
}
